html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 18px;
  	line-height: 34px;
  	color: #777;
  	background-image: url("../images/vintage-leaves.png");
  	min-height: 100%;
  	padding-bottom: 102px;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

/* Header and Navbar*/

header h1 {
	float: left;
	width: 300px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	padding: 30px 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 35px;
	margin: 0;
	font-weight: 600;
}

header {
  	position: fixed;
  	z-index: 99;
  	width: 100%;
  	margin: 0 0 30px;
  	overflow: auto;
  	color: #ffffff;
  	background: #ffffff;
  	border-bottom: 3px solid #ccc;
  	height: 101px;
}

.navbar-default .navbar-text {
	color: #ffffff;
	margin: 0;
}

.container-fluid {
	padding: 0;
	width: 100%;
}

.navbar-default {
	background-color: #ffffff;
}

.navbar {
	border: none;
}

.navbar-right {
	margin-right: 0;
}

.navbar-nav {
	padding: 25px 0;
}

header .container a {
	display: inline-block;
  	padding-left: 15px;
  	margin-left: 15px;
  	line-height: 18px;
  	color: #999;
  	text-decoration: none;
  	border-left: 1px solid #efefef;
}

#aboutlink {
	border: none;
}


/* Main Section*/

#main-container {
	margin-top: 150px;
	margin-bottom: 40px;
}

#main-container h1, h2 {
	margin-bottom: 20px;
	font-family: Georgia, Times, "Times New Roman", serif;
  	font-weight: 700;
  	color: #4aaaa5;
}

#main-container h1 {
	padding-bottom: 20px;
  	font-size: 30px;
  	line-height: 49px;
  	border-bottom: 3px solid #ddd;
}

.aboutme {
	background-color: #ffffff;
	margin-right: 40px;
	padding: 0 30px;
	width: 650px;
	margin-bottom: 30px;
}

#biopicture {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 25px;
}

/* Aside */

.sidebar {
	width: 100%
	max-width: 270px;
	padding: 21px;
	background: #ffffff;
}

.iconlinks {
	width: 62px;
	height: 62px;
}

h2 {
	font-size: 22px;
	margin: 0 auto 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #eee;
}

.sidebar a:hover {
	text-decoration: none;
}

/* Footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

}

/* Contact Me page*/

#contact-form {
	padding: 30px 0;
	line-height: 2;
}

.inputsmall, #message {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	color: #777777;
	margin-bottom: 9px;
}

#message {
	height: 10em;
}

#submitbutton {
	height: 40px;
	width: 100px;
	text-align: center;
	padding: auto;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 10px;
	border: none;
	font-size: 20px;
}

/* Portfolio Page */

.portfoliopics img {
	width: 100%;

}

div.col-sm-6 {
	padding: 0;

}

.portfoliopics {
	margin: 17px 42px 30px 0;
	max-width: 274px;
}

.portfoliopics h3 {
	position: absolute;
  	bottom: 20px;
  	width: 100%;
  	padding: 15px;
  	margin-bottom: 0;
  	font-weight: 300;
  	line-height: 30px;
  	color: #ffffff;
  	text-align: center;
  	background: #4aaaa5;
  	border-bottom: 0;
}

.portfoliopics:nth-child(even) {
	margin-right: 0;
}

/* Media Query */

@media screen and (max-width: 767px) {
	.navbar-text {
		float: none;
		width: 100%;
		margin: 0;
	}
	.myname {
		padding: 0;
	}

	.nav li, .navbar-nav li, .navbar-right li, .col-md-4 li, .container-fluid ul {
		display: inline-block;
		margin: 0 auto;
	}

	#main-container {
		margin: 200px auto 0;
	}
}




/* Clear Fix*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
